In [1]:
from selenium import webdriver as wb
from selenium.webdriver.common.keys import Keys
import requests as req
import pandas as pd
from bs4 import BeautifulSoup as bs
import time

In [2]:
driver = wb.Chrome()
driver.get("https://www.justwatch.com/kr/%EB%8F%99%EC%98%81%EC%83%81%EC%84%9C%EB%B9%84%EC%8A%A4/netflix")

In [3]:
body=driver.find_element_by_tag_name('body')
for i in range(10):
    time.sleep(0.5)
    body.send_keys(Keys.PAGE_DOWN)

In [4]:
for i in range(13):
    time.sleep(0.5)
    body.send_keys(Keys.PAGE_UP)

In [3]:
img=driver.find_elements_by_css_selector('.title-list-grid__item')
len(img)

360

In [4]:
title_list = [] #영화 제목 리스트
year_list = [] # 개봉년도
synop_list = [] # 시놉시스
rank = []
for i in range(100):
    img=driver.find_elements_by_css_selector('.title-list-grid__item')
    img[i].click()
    time.sleep(2)
    soup = bs(driver.page_source,'lxml')
    title = soup.select('div>h1')# 영화제목
    year = soup.select('.text-muted')# 개봉일
    synop = soup.select('p>span') #시놉시스
    img1 = soup.find_all('img') # 이미지
    img_res  = req.get(img1[len(img1)-2]["data-src"])
    title_list.append(title[0].text)
    year_list.append(year[0].text)
    synop_list.append(synop[1].text)
    rank.append(i+1)
    with open(f"{i+1}.jpg", "wb") as f:
        f.write(img_res.content)
        driver.back()

In [9]:
dic = {"번호":rank,"영화명" : title_list, "개봉일" : year_list, "시놉시스" : synop_list}

In [10]:
df = pd.DataFrame(dic)
df.set_index("번호" , inplace = True)
df

,영화명,개봉일,시놉시스
번호,,,
1,홈랜드,(2011),미 해병대 보병 부사관인 니콜라스 브로디 하사는 이라크 자유작전(이라크 전쟁) 중 ...
2,킹덤,(2019),2019년 1월 Netflix에서 방영을 시작한 좀비물. 병든 왕을 둘러싸고 흉흉한...
3,포스트모템: 스카르네스에서는 아무도 죽지 않는다,(2021),Live Hallangen is declared dead but hours late...
4,D.P.,(2021),탈영병을 잡는다. 이등병 준호에게 떨어진 새로운 임무. 그는 탈영병들을 추적하며 지...
5,Shadowplay,(2020),"1946년 베를린, 한 미국 경찰이 실종된 형을 찾고 있다. 그 앞에 펼쳐진 도시의..."
...,...,...,...
96,BattleBots,(2015),BattleBots promises to wow viewers with next g...
97,노는 언니,(2020),여성 스포츠 스타들이 그동안 놓치고 살았던 것들에 도전하며 '놀아보는' 세컨드 라이...
98,더티 픽처,(2011),배우가 되겠다는 일념으로 집을 나온 시골 소녀가 영화계에 뛰어들어 섹스 심볼로 추앙...
99,낫아웃,(2021),고교야구 유망주인 열아홉 소년 광호. 프로야구 선수 드래프트에서 선발되지 못해 상처...
100,러브,(2016),주드 아패토우가 공동 제작한 이 대담한 새 코미디 시리즈는 까칠한 미키와 순한 거스...

In [11]:
df.to_excel("netflix.xlsx")